$main-color: #4A4A4A;
$blue-color: #2196F3;

header {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.wrapper {
	max-width: 755px;
	margin: 0 auto;
}

body {
	background-color: #F3F7FA;
	font-family: 'Open Sans', sans-serif;
}

aside {
	max-width: 230px;
}

.app {
	display: flex;

	&__filter {
		background: #FFFFFF;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		min-width: 230px;
	}

	.filter {
		&__header {
			margin-bottom: 10px;
		}
		&__group {
			padding: 10px;
		}
		&__f-row {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		
    .filter-checkbox {
      position: relative;
      padding: 0 0 0 20px;
      line-height: 18px;
      
      input:checked + .filter-checkbox__hidden {
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        background-image: url('../img/filters/checked.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
      &__input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
      }
      &__hidden {
        top: 0;
        left: 0;
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: 1px solid #5D6C7B;
        border-radius: 2px;
      }
    }


	}

	.filter__header {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 12px;

		letter-spacing: 0.5px;
		text-transform: uppercase;

		color: $main-color;
	}


	&__content {
		.sort-list {
			display: flex;
		}
	}
}